.main {
  display: flex;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.follow {
  display: flex;
}
.subtitle {
  margin: 0 7px;
}
.login {
  color: var(--color-dark);
}
