.category {
  text-transform: none !important;
  margin-left: 5px !important;
  &_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-warning);
    padding: 5px;
  }
}

.sort {
  text-transform: none !important;
}

.popper {
  &_content {
    min-width: 220px;
  }

  &_link {
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    color: var(--color-dark);
    margin-left: 5px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.arrow {
  transform: rotate(90deg) scale(0.5);
}
