.main {
  margin-top: 50px;
}

.repository {
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 60px;
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle {
  color: var(--color-secondary);
  font-weight: 300;
}
