@import './assets/font.scss';

.main {
  position: relative;
  background: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  &_text {
    font-weight: 600;
    margin-top: 10%;
    width: 65%;
    text-align: right;
    & h2 {
      color: #000;
    }
    &_subtitle {
      color: #fe7070;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(2deg);
  }

  &_button {
    &_block {
      margin-top: 100px;
    }
  }
}

.logo {
  padding: 30px;
}

.block {
  &_1 {
    width: 100vw;
    height: 40vh;
    background: #6e4343;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    clip-path: polygon(0 0%, 0% 100%, 85% 100%);
  }
  &_2 {
    width: 70vw;
    height: 80vh;
    background: #fe7070;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 62% 0, 38% 91%, 0 77%);
    &::before {
      content: '';
      position: absolute;
      bottom: 15.9%;
      left: 2%;
      background: url('./assets/img/home_img.png') center center no-repeat;
      background-size: cover;
      width: 450px;
      height: 450px;
      transform: rotate(14deg);
    }
  }
}

.top_block {
  &_text {
    margin: 2% 0px 0px 100px;
    transform: rotate(7deg);
    & h1 {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 40%;
    }
  }
}
