.main {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.block {
  &_top {
    background: var(--color-warning);
    width: 100%;
    padding: 5px 10px;
  }
}
