.text {
  color: var(--color-white);
}
.branch {
  border-bottom: 1px solid var(--color-warning);
  padding: 5px;
}

.popper_link {
  font-family: 'Rubik', sans-serif;
  color: var(--color-dark);
  margin-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
